html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.registration-container {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 20px; /* Adicione um pouco de espaço abaixo do conteúdo */
}

.registration-form {
    width: 50%;
    padding: 40px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-background {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white; /* Adicione uma cor de fundo se desejar */
}

.login-background img {
    max-width: 100%;
    height: auto;
}

.registration-form h1 {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

.registration-form input[type="text"], 
.registration-form input[type="email"], 
.registration-form input[type="password"],
.registration-form input[type="date"],
.registration-form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s, background-color 0.3s;
}

.registration-form button:hover {
    background-color: #e89419;
}

.registration-form .form-group {
    margin-bottom: 15px;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

.registration-form .btn-get-started {
    background-color: var(--accent-color);
    color: var(--primary-color);
}