# Banco de dados e manipulação de dados
pandas
SQLAlchemy
PyMySQL2

# Visualização de dados
matplotlib
seaborn

# Manipulação de arquivos Excel
openpyxl

# Envio de e-mails
smtplib  # (parte da biblioteca padrão Python)

# Geração de relatórios
Jinja2  # Para templates de e-mail HTML

# Logging
logging  # (parte da biblioteca padrão Python)

# Manipulação de datas
python-dateutil

# Bibliotecas de sistema
sys  # (parte da biblioteca padrão Python)
os  # (parte da biblioteca padrão Python)

# Outras dependências que podem ser necessárias
numpy # Dependência do pandas e matplotlib
Pillow  # Para suporte a imagens em matplotlib